html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	background-color: #CFDBC5;
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
}

#container {
	margin: auto;
	padding: 0;
	max-width: 1000px;
	background-color: white;
	border-radius: 3px;
}

header {
	margin: auto;
	text-align: center;
	border-bottom: #CFDBC5 solid 10px;
}

.heading {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	font-size: 40px;
	color: #484D46;
	text-align: center;
	letter-spacing: 1px;
	padding-top: 30px;
}

figcaption {
	font-family: 'Source Sans Pro', sans-serif;
	color: #748269;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

figure img {
	margin: 0 auto;
	height: auto;
	border-radius: 10px;
}

p {
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
	line-height: 30px;
	padding: 0 30px 0 30px;
}

header a {
	margin: 0 auto;
	text-align: center;
	padding: 30px 30px 60px 0;
	list-style: none;

}

header a {
	display: inline-block;
	text-decoration: none;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: #748269;
	text-align: center;
	letter-spacing: 1px;
	padding-top: 20px;
	border: none;
}

header a:hover {
	display: inline-block;
	text-decoration: none;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: #CFDBC5;
	text-align: center;
	letter-spacing: 1px;
	padding-top: 20px;
	border: none;
}

h1 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	font-size: 30px;
	color: #484D46;
	text-align: left;
	letter-spacing: 1px;
	padding: 30px 0 10px 30px;
}

h2 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: #748269;
	text-align: left;
	letter-spacing: 1px;
	padding: 20px 0 0 30px;
}


h3 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #838B83;
	text-align: left;
	letter-spacing: 1px;
	padding: 0 0 0 30px;
}

ul {
	padding: 0 60px 0 70px;
	line-height: 30px;
	font-size: 16px;
	text-align: justify;
}
